@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

main {
    background-image: url(../IMG/lptr5yzxarse1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner-login {
    background-color: #fdfdfd71;
    padding: 7em 0;
    border-radius: 10px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

form h1 {
    color: #0099ff;
    line-height: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.h1-top {
    color: #0099ff;
    letter-spacing: -0.075em;
    font-size: 2vw;
    font-weight: 400;
}

.h1-bottom {
    color: #0099ff;

    font-size: 3.2vw;
    letter-spacing: -0.075em;
    font-weight:600;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 5em 0;
}

form div input {
    border: none;
    padding: 0em 3em;
    height: 5vh;
    border-radius: 0.7em;
    width: 27vw;
    background-color: #ffffff7c;
    backdrop-filter: blur(2px);
    font-size: 0.7vw;
}


form button {

    width: 27vw;
    border-radius: 0.7em;
    background-color: #1884ff;
    color: #fff;
    font-size: 0.7vw;
    height: 6vh;
    border: none;
    text-align: center;
    transition: background 0.2s ease;
    cursor: pointer;
}

form button:hover {
    background-color: #3292ff;
}




