@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

.logo {
    width: 200px;
}

#pagina-home {
    height: 613px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.863),
                      rgba(0, 0, 0, 0.123)), url(../img/Banner.png);
    background-size: cover;
}

.cabecalho {
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    border-left: 4px solid #000;

}

.categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px;
}

.categoria ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.ativo {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.btn-home {
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease;
}

.class-btn:hover {
    background-color: #fff;
    color: black;
    transition: all 0.1s ease;
}

.conteudo-banner {
    padding: 50px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    max-width: 1000px;
    width: 70%;
    margin: auto;
    font-size: 40px;
    color: #fff;
}

.conteudo-banner-botoes {
    max-width: 700px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.conteudo-banner-botoes a {
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    width: 300px;
    padding: 10px 0px;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.1s ease;
}

.conteudo-banner-botoes a:hover {
    color: black;
    background-color: #fff;
    transition: all 0.1s ease;
}

.galeria {
    border: 10px solid rgb(0, 195, 255);
}

.main {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.main h1 {
    font-size: 50px;

}

.fotos {
    background-color: #000;
    border: 4.5px solid #000;
    transition: 0.3s ease all;
}

.fotos img{
    width: 340px;
    height: auto;
    object-fit: cover;
}

.galeria-imagens {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    gap:100px;
}

.legenda {
    text-align: center;
    background-color: rgb(199, 129, 0);
    color: #fff;
    font-size: 24px;
    padding: 5px;
    font-weight: 600;
}

.fotos:hover {
    filter: grayscale(1);
    cursor: pointer;
    transition: 0.3s ease all;
}