@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    background-color: rgb(29, 29, 29);
    color: white;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
    margin: 50px;
}
h3 {
    font-size: 20px;
    color:rgb(155, 155, 155);
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
}
.mais-esperados {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: rgb(50, 50, 50);
    color: white;
    text-decoration: none;
}